body {
    background-color: #7a7676;
}
.banner {
    background-image: url(imagens/banner-fazer-pedidonovo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}